.removeBtn {
	margin-left: 10px;
}

.greetedName {

}

.listBtn {
	justify-content: flex-end;
   display: flex;
}

.alignCenter {
	text-align: center;
}

.hide {
	display: none;
}

.show {
	display: block;
}


@media (max-width:480px) {
   .listItem {
      display: flex !important;
      margin: 7px 0 0 0;
   }

   .listBtn {
   	flex: 1 1 0;
   	margin-right: -1.5em;
   }

   .greeted {
       position: absolute;
       align-items: center;
       justify-content: center;
       margin-top: -3em;
       display: flex;
   }

   .greetedLabel {
      margin-right: .75rem!important;
   }

   .greetedName {
       flex: 1 1 0;
       margin-left: -1.5em;
   }

   .mobileRadio {
      display: flex;
   }

   .jumbotron {
       margin-bottom: 0em !important;
   }

}


