.removeBtn {
	margin-left: 10px;
}

.greetedName {

}

.listBtn {
	justify-content: flex-end;
   display: flex;
}

.alignCenter {
	text-align: center;
}

.hide {
	display: none;
}

.show {
	display: block;
}


@media (max-width:480px) {
   .greeted {
        display: flex;
        position: relative;
        bottom: 18em;
        align-items: center;
        justify-content: center;
        margin-top: 1em;
   }

   .mobileRadio {
      display: flex;
   }

   .jumbotron {
       margin-bottom: 0em;
   }

}


